.work-section {
    &__container {
        background-color: #fff;
        margin: 5%;
        padding: 10%;
        text-align: center;

        box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);

        //Position relative
        position: relative;

        border-radius: 20px; 

        h4 {
            color: #52c1a4;
        }
    } 
    &__table {
        list-style: none;
    }
    &__table--one {
        border-bottom: 2px solid;
        border-bottom-color: #52c1a4; 
        padding: 2%;
        margin-bottom: 4%;
    }
    &__table--two {
    } 
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .work-section__table--one {
        border-right: 2px solid;
        border-right-color: #52c1a4;
        border-bottom: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .work-section__table--one {
        border-right: 2px solid;
        border-right-color: #52c1a4;
        border-bottom: none;
    }
    .work-section__container {
        padding: 5%;
    }
    .work-section__table--one {
        padding: 4%;
    }
    .work-section__table--two {
        padding: 4%;
    }
}